.App__header {
  align-items: center;
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.06),
    0 2px 24px 9px rgba(0, 0, 0, 0.04);
  display: flex;
  justify-content: flex-end;
  min-height: 2rem;
  padding: 0.5rem 1rem;
  position: relative;
}

.App__header--primary {
  background-color: #4775de;
  color: #fff;
}
